<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1 style="text-align: center; background-color: chocolate">Users</h1>
<hr>
<table border="brown" style="width: 400px">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Car mark</th>
        <th>Car price</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"> </td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.car.mark}"></td>
        <td th:text="${user.car.price}"></td>
        <td><a th:href="@{/users/update-user/{id}(id=${user.id})}">
            <input type="submit" value="Update user"></a></td>
        <td><a th:href="@{/users/delete-user/{id}(id=${user.id})}">
            <input type="submit" value="Delete user"></a></td>
    </tr>
</table>
<br>
<hr>
<a href="/users/add-user"><input type="submit" value="Add user"></a>
<br>
<hr>
<img src="http://otzyvy-avtovladelcev.ru/img/auto-body-image/6429/104442.jpg" alt="Esli ne chitaet foto" width="600" height="400">
</body>
</html>